body {
    background-color: #222;
    padding: 0;
    margin: 0;
}

.app {
    font-family: 'NanumGothic', 'Apple Gothic', sans-serif;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 480px) {
    .app {
        font-family: 'NanumGothic', 'Apple Gothic', sans-serif;
        width: auto;
        height: auto;
    }
}